<!DOCTYPE html>
<html>
<% include par/head%>
<% include par/nav%>
<body>

<!-- menu -->

<div class="container-fluid">
<div class="row">

<div class="col-sm-12" style="background-color:white">
<div align="center">
    <%= title %>
<br>
    <%= son.tit %>

<div id="app"></div>
<div id="fun"></div>
<script src="js/act.js"></script>
<script src="js/fun.js"></script>

</div><!-- /center-->
</div><!-- /col12-->
</div><!-- /row-->


</div><!-- /container-fluid-->

<% include par/foot %>
</body>
</html>

