<% include par/head %>
<% include par/nav %>
<body>

<div class="container-fluid">
<div class="row">

<div class="col-md-2" style="background-color:lavender">
    <div class="card"></div>
</div><!-- col4 -->

<div class="col-md-10 col-sm-12" style="color:black">

<div class="card">
<div class="card-header">
<h4 class="text-center">ログアウトしました</h4>
</div>
</div>

<br>

</div><!-- col8 -->
</div><!-- row -->
</div><!-- cont -->

</body>


